{% load static %}
<div> 
    <div style="position: fixed; bottom: 0; right: 0; padding: 5px; text-align: center; background-color: black; color: white; width: 100%; height: 20px;">
        <span style="color: #6c757d; margin: 10px 0; text-align: center;">© 2024 Phát triển bởi 
            <a href="https://www.facebook.com/imkxxxibgdrgn" style="color: white;">Quỳnh Anh</a> và 
            <a href="https://www.facebook.com/tuanh.226" style="color: white;">Tú Anh</a> - Công ty TNHH White Neuron.
        </span>
    </div>
</div> 